
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_layoutAdmin.cshtml";

    var Id = ViewBag.Id;
}

<link href="~/Content/css/Common/LPOInvoiceTable.css" rel="stylesheet" />
<link href="~/Content/css/Common/Common-LPO.css" rel="stylesheet" />

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item"><a href="javascript:void(0);">Aw Fuel</a></li>
    <li class="breadcrumb-item active">LPO</li>
    <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
</ol>
<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    <a href="/LPO/Create">
                        <i class="fal fa-plus-circle"></i>Add New <span class="fw-300"><i>LPO</i></span>
                    </a>
                </h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="data-table-list">
                                <div class="basic-tb-hd">
                                    <div class="row">
                                        <div class="col-md-11">
                                            <h5 style="color:green">@ViewBag.Success</h5>
                                        </div>
                                        <div class="col-md-1">
                                            @*<button class="btn btn-primary btn-sm" id="createNewEmployee"><i class="fa fa-plus"></i> New</button>*@
                                        </div>
                                    </div>
                                    @*@Html.Partial("~/Views/Shared/Invoice_LPO PartialView/_HeaderLPOInvoicePartialView.cshtml")*@
                                    @Html.Partial("~/Views/Shared/LPOInvoieDetailsPartialViews/_LPOInvoiceVenderPartialView.cshtml")
                                </div>
                                <div>
                                    @Html.Partial("~/Views/Shared/LPOInvoieDetailsPartialViews/_MainTablePartialView.cshtml")
                                    @Html.Partial("~/Views/Shared/Invoice_LPO PartialView/_FooterTotalPartialView.cshtml")
                                </div>
                         
                                <p></p>
                                @Html.Partial("~/Views/Shared/LPOInvoieDetailsPartialViews/_FooterButtonPartialViewView.cshtml")
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>

        $('#LPOEdit').click(function () {

            var Id = $('#LPOId').val();
            window.location.href = "/LPO/Edit/" + Id;
        });

        $(document).ready(function () {

        var Downloads =  @Html.Raw(Json.Encode(ViewBag.IsDownload));

        if (Downloads != null) {

            Id = @Html.Raw(Json.Encode(ViewBag.Id));
            window.location.href = '/LPO/printLPO/' + Id;
        }
        });

       $('#DownloadLPOInvoice').click(function () {

        var Id = $('#LPOId').val();

            window.location.href = '/LPO/printLPO/'+Id;
       });

        $('#SendEmail').click(function () {

            var data = JSON.stringify({
                 Id : $('#LPOId').val()
            })
            ajaxRequest("POST", "/CheckISFileExist", data, "json").then(function (result) {

                if (result == "Exist") {
                    window.location.href = "/Email";
                }
                else {
                    alert('Failed to Send email');
                }
            });
        });
    </script>

}

