
@model IT.Core.ViewModels.EmployeeViewModel
@{
                /**/

                ViewBag.Title = "Employee Details";
                Layout = "~/Views/Shared/_layoutAdmin.cshtml";
}


<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item"><a href="javascript:void(0);">Employee</a></li>
    <li class="breadcrumb-item active">Details</li>
    <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class='subheader-icon fal fa-edit'></i>Employee Details
    </h1>
</div>
<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    Details <span class="fw-300"></span>
                </h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="panel-tag">
                        Employee data
                    </div>
                    <form id="form1" method="post" enctype="application/x-www-form-urlencoded">
                        <div class="row">
                            <div class="col-md-6">
                                <table class="table table-bordered table-hover m-0">
                                    <thead class="thead-themed">
                                        <tr>
                                            <th>Employee</th>
                                            <th>Information</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">Driver Name</th>
                                            <td>@Model.Name @Model.LastName</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Contact Number</th>
                                            <td>@Model.Contact</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Email Address</th>
                                            <td>@Model.Email</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">facebook</th>
                                            <td>@Model.Facebook</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Nation</th>
                                            <td>@Model.Nation</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">User Name</th>
                                            <td>@Model.UserName</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Basic Salary</th>
                                            <td>@Model.BasicSalary</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Designation Name</th>
                                            <td>@Model.DesignationName</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Nationality</th>
                                            <td>@Model.Nationality</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <!--   <h3 class="py-5">Driving License</h3> -->

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="form-label"><b>Driving License</b> Front side</label>
                                            </div>
                                            <div class="col-md-12">
                                                <img id="DrivingLicenseFrontPreview" class="blah" src="http://itmolen-001-site8.htempurl.com/ClientDocument/@Model.PassportFront" onerror="this.src='/assets/staticImages/icon1.png';" alt="Passport Front">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="form-label"><b>Driving License</b> Back side</label>
                                            </div>
                                            <div class="col-md-12">

                                                <img id="DrivingLicenseFrontPreview" class="blah" src="http://itmolen-001-site8.htempurl.com/ClientDocument/@Model.PassportBack" onerror="this.src='/assets/staticImages/icon1.png';" alt="Passport Back">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .pic {
        display: none;
    }

    .newbtn {
        cursor: pointer;
    }

    .blah {
        max-width: 100%;
        width: 100%;
        height: 100%;
        max-height: 160px;
        margin-top: 20px;
    }
</style>







