
@{
    ViewBag.Title = "MakeInvoice";
    Layout = "~/Views/Shared/_layoutAdmin.cshtml";
}

<link href="~/Content/css/Common/LPOInvoiceTable.css" rel="stylesheet" />
<link href="~/Content/css/Common/Common-LPO.css" rel="stylesheet" />

<div class="data-table-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">
                    <div class="basic-tb-hd">
                        <div class="row">
                            <div class="col-md-11">
                                <h5 style="color:green">@ViewBag.Success</h5>
                            </div>
                            <div class="col-md-1">
                                @*<button class="btn btn-primary btn-sm" id="createNewEmployee"><i class="fa fa-plus"></i> New</button>*@
                            </div>
                        </div>
                        @*@Html.Partial("~/Views/Shared/Invoice_LPO PartialView/_HeaderLPOInvoicePartialView.cshtml")*@
                        @Html.Partial("~/Views/Shared/LPOInvoieDetailsPartialViews/_LPOInvoiceVenderPartialView.cshtml")
                    </div>
                    <div class="table-responsive">
                        @Html.Partial("~/Views/Shared/LPOInvoieDetailsPartialViews/_MainTablePartialView.cshtml")
                        @Html.Partial("~/Views/Shared/Invoice_LPO PartialView/_FooterTotalPartialView.cshtml")
                    </div>
                    <p></p>
                    @Html.Partial("~/Views/Shared/Invoice_LPO PartialView/_LPO_InvoiceButtonPartialView.cshtml")
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script>

        $('#SaveDraft').click(function () {
            debugger;
            alert();
            if (IsBillValid()) {

                var Data = JSON.stringify({
                    FDate: $('#FromDate').val(),
                    DDate: $('#DueDate').val(),
                    RefrenceNumber: $('#RefrenceNumber').text(),
                    Id: $('#LPOId').val(),
                    PONumber: $('#PONumber').text(),
                    LPOId: $('#LPOId').val()
                })

                ajaxRequest("POST", "/CreateFromQuotation", Data, "json").then(function (result) {

                    if (result != "Failed") {
                        sucessAdd();

                        window.location.href = "/Invoice";
                    }
                    else {
                        alert('Failed your opration');
                    }
                });
            }
        });


        function IsBillValid() {
            var IsValid = true;

            if ($('#RefrenceNumber').text().trim() == "") {
                $('#RefrenceNumber').css('border-color', 'Red');
                IsValid = false;
            }
            else if ($('#PONumber').text() == "") {
                $('#PONumber').css('border-color', 'Red');
                IsValid = false;
            }
            else if ($('#FromDate').val().trim() == "03/19/2018") {
                $('#FromDate').css('border-color', '1px solid #BDC7BC');
                IsValid = false;
                alert('select From Date');
            }
            else if ($('#DueDate').val().trim() == "03/19/2018") {
                $('#DueDate').css('border-color', '1px solid #BDC7BC');
                IsValid = false;
                alert('select Due Date');
            }

            return IsValid;
        }


    </script>

}

