@model  List<IT.Core.ViewModels.VenderViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layoutAdmin.cshtml";

    List<IT.Core.ViewModels.VenderViewModel> venderViewModels = new List<IT.Core.ViewModels.VenderViewModel>();
    venderViewModels = Model as List<IT.Core.ViewModels.VenderViewModel>;

}

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item"><a href="javascript:void(0);">Vender</a></li>
    <li class="breadcrumb-item active">List</li>
    <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
</ol>

<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    <a href="/Vender/Create">
                        <i class="fal fa-plus-circle"></i>  Add New <span class="fw-300"><i>Vender</i></span>
                    </a>
                    </h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <table id="dt-basic-example" class="table table-bordered table-hover table-striped w-100">
                        <thead class="bg-primary-600">
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Representative</th>
                                <th>TRN</th>
                                <th>Mobile</th>
                                <th>IsActive</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in venderViewModels)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.Email</td>
                                    <td>@item.Representative</td>
                                    <td>@item.TRN</td>
                                    <td>@item.Mobile</td>
                                    <td>@item.IsActive</td>
                                    <td>
                                        <a href="/Vender/Details/@item.Id"><i class="fal fa-eye"></i> </a> &nbsp; &nbsp;
                                        <a href="/Vender/Edit/@item.Id"><i class="fal fa-edit"></i></a>&nbsp; &nbsp;
                                        <i class="fal fa-trash-alt">
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <!-- datatable end -->
                </div>
            </div>
        </div>
    </div>
</div>

