
@using System.Web.Mvc.Html 

@model List<IT.Core.ViewModels.DriverViewModel>
@{
    ViewBag.Title = "Drivers List";
    Layout = "~/Views/Shared/_layoutAdmin.cshtml";


    List<IT.Core.ViewModels.DriverViewModel> driverViewModels = new List<IT.Core.ViewModels.DriverViewModel>();
    driverViewModels = Model as List<IT.Core.ViewModels.DriverViewModel>;

}

                        <ol class="breadcrumb page-breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">AW Fuel </a></li>
                            
                            <li class="breadcrumb-item active">Drivers</li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
                        </ol>
                      
                        <div class="row">
                            <div class="col-xl-12">
                                <div id="panel-1" class="panel">
                                    <div class="panel-hdr">
                                        <h2>
                                           <a href="/AwfDriver/Create"> <i class="fal fa-plus-circle"></i>  Add New <span class="fw-300"><i>Driver</i></span>
                                        </h2></a>
                                       
                                    </div>
                                    <div class="panel-container show">
                                        <div class="panel-content">
                                    <!--      <div class="panel-tag">
                                                <p>Drivers Base Information</p>
                                               
                                               
                                            </div>-->  
                                            <!-- datatable start -->
                                            <table id="dt-basic-example" class="table table-bordered table-hover table-striped w-100">
                                                <thead class="bg-primary-600">
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Conatct</th>
                                                        <th>Email</th>
                                                        <th>License Expiry</th>
                                                        <th>Facebook</th>
                                                        <th>IsActive</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>                                                    
                                                    @foreach (var item in driverViewModels)
                                                    {

                                                        <tr>
                                                            <td>@item.Name</td>
                                                            <td>@item.Contact</td>
                                                            <td>@item.Email</td>
                                                            <td>@item.DrivingLicenseExpiryDate</td>
                                                            <td>@item.Facebook</td>
                                                            <td>@item.IsActive</td>
                                                            <td>
                                                               <a href="/AwfDriver/Details/@item.Id"><i class="fal fa-eye"></i> </a> &nbsp; &nbsp;
                                                                <a href="/AwfDriver/Edit/@item.Id"><i class="fal fa-edit"></i></a>&nbsp; &nbsp;
                                                                <i class="fal fa-trash-alt">
                                                            </td>
                                                        </tr>
                                                    }                                                    
                                                    
                                                </tbody>
                                                
                                            </table>
                                            <!-- datatable end -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                

