
@{
                /**/

                List<IT.Core.ViewModels.LPOInvoiceDetails> LPOInvoiceDetails = new List<IT.Core.ViewModels.LPOInvoiceDetails>();

                LPOInvoiceDetails = ViewBag.lPOInvoiceDetails as List<IT.Core.ViewModels.LPOInvoiceDetails>;
}


<div id="TableGood" class="table-responsive">
    <table class="table table-hover" id="orderdetailsitems">
        <thead class="thead-dark">
            <tr>
                <th>
                    Item
                </th>
                <th>
                    Description
                </th>
                <th>
                    Unit
                </th>
                <th>
                    Rate
                </th>
                <th>
                    Quantity
                </th>
                @*<th>
                    Total
                </th>*@
                <th>
                    VAT
                </th>

                <th>
                    Sub Total
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody class="tbodyGood">

            @if (LPOInvoiceDetails != null)
            {

                foreach (var item in LPOInvoiceDetails)
                {
                    <tr>        
                       
                        <td>
                            <input type="hidden" value="@item.Id" class="detailId" />
                            <select class="product form-control pClassG  Input-height select2" style="width: 160px;font-size:12px">                              
                                @foreach (var pro in ViewBag.Product)
                                {
                                    <option value="@pro.Id" @(pro.Id == item.ItemId ? "selected='selected'" : "")>@pro.Name</option>
                                }
                            </select>
                        </td>
                        <td>
                            <textarea type="text" id="Description" class="Description form-control" rows="1" placeholder="Description" autocomplete="off" style="width:270px;font-size:12px">@item.Description</textarea>
                        </td>
                        <td>
                            <select id="Unit" class="Unit product form-control Input-height" style="width: 100px;font-size:12px">
                                @foreach (var Units in ViewBag.ProductUnit)
                                {
                                    <option value="@Units.Id" @(Units.Id == item.UnitId ? "selected='selected'" : "")>@Units.Name</option>

                                }
                            </select>
                        </td>
                        <td>
                            <input type="text" id="UPrice" class="rate form-control Input-height" autocomplete="off" style="width:60px;font-size:12px" value="@Math.Round(item.UnitPrice,1)" onkeypress="return IsOneDecimalPoint(event);" />
                        </td>
                        <td>
                            <input type="text" id="quantity" class="quantity form-control Input-height" autocomplete="off" value="@item.Qunatity" style="width:70px;font-size:12px" />
                            <input type="hidden" id="RowSubTotal" readonly class="RowSubTotal" autocomplete="off" value="@Math.Round(item.Total,1)" onkeypress="return IsOneDecimalPoint(event);" />

                        </td>                        
                        <td>
                            <select id="VAT" class="vat form-control Input-height" style="width:70px;font-size:12px">
                                @foreach (var V in ViewBag.VatDrop)
                                {
                                    <option value="@V.Id" @(V.VAT == item.VAT ? "selected='selected'" : "")>@V.VAT</option>
                                }
                            </select>
                        </td>
                        <td>
                            <input type="text" id="rownettotal" readonly class="rownettotal  form-control Input-height" value="@Math.Round(item.SubTotal,1)" style="width:80px" />
                        </td>
                        <td>
                            <input type="button" id="btnRemoveExistRow" value="x" class="btn-height-Remove BtnRemove" style="width:50px" />
                        </td>
                    </tr>
                }

            }

            <tr id="mainrowgood">
                <td>
                    <select id="drpgoods" class="drpgoods product form-control Input-height select2" style="width: 160px;font-size:12px">
                        @foreach (var product in ViewBag.Product)
                        {
                            <option value="@product.Id">@product.Name</option>

                        }
                    </select>
                </td>
                <td>
                    <textarea type="text" id="Description" class="Description form-control" rows="1" placeholder="Description" autocomplete="off" style="width:270px;font-size:12px"></textarea>
                </td>
                <td>
                    @*<input type="text" id="Unit" class="Unit form-control Input-height" autocomplete="off" style="width:70px;font-size:12px" />*@

                    <select id="Unit" class="Unit product form-control Input-height" style="width: 100px;font-size:12px">
                        @foreach (var Units in ViewBag.ProductUnit)
                        {
                            <option value="@Units.Id">@Units.Name</option>
                        }
                    </select>
                </td>
                <td>
                    <input type="text" id="UPrice" class="rate form-control Input-height" value="0"  autocomplete="off" style="width:80px;font-size:12px" onkeypress="return IsOneDecimalPoint(event);" />
                </td>
                <td>
                    <input type="text" id="quantity" class="quantity form-control Input-height" autocomplete="off" value="0" style="width:70px;font-size:12px" />
                    <input type="hidden" id="RowSubTotal" readonly class="RowSubTotal form-control Input-height" value="0" autocomplete="off" onkeypress="return IsOneDecimalPoint(event);" />

                </td>               
                <td>
                    <select id="VAT" class="vat form-control Input-height" style="width:70px;font-size:12px">
                        <option value="0">0</option>
                        <option value="5">5</option>
                    </select>
                </td>
                <td>
                    <input type="text" id="rownettotal" readonly class="rownettotal  form-control Input-height" value="0" style="width:80px" />
                </td>
                <td>
                    <input type="button" id="btnaddRow" value="+" class="btn-height" style="width:50px" />
                </td>
            </tr>
        </tbody>
    </table>
</div>
