@model  IT.Core.ViewModels.CustomerOrderGroupViewModel
    @{
        ViewBag.Title = "Admin Details";
        Layout = "~/Views/Shared/_layoutAdmin.cshtml";
    }


    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);">Admin Details</a></li>
        <li class="breadcrumb-item active">Details</li>
        <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
    </ol>

    <div class="subheader">
        <h1 class="subheader-title">
            <i class='subheader-icon fal fa-edit'></i>Admin Details
        </h1>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2>
                        Details <span class="fw-300"></span>
                    </h2>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <form id="form1" method="post" enctype="application/x-www-form-urlencoded">
                            <div class="row">
                                <div class="col-md-6">
                                    <table class="table table-bordered table-hover m-0">
                                        <tbody>
                                            <tr>
                                                <th scope="row">Order Id</th>
                                                <td>@Model.CustomerOrderId</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Requested Quantity</th>
                                                <td>@Model.RequestedQuantity</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Deliverd Quantity</th>
                                                <td>@Model.DeliverdQuantity</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Order Progress</th>
                                                <td>@Model.OrderProgress</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">User Name</th>
                                                <td>@Model.UserName</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Created Date</th>
                                                <td>@Model.CreatedDate</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Contact</th>
                                                <td>@Model.Contact</td>
                                            </tr>
                                            <tr>
                                                <th colspan="2" scope="row">Notes</th>
                                            </tr>
                                            <tr>
                                                <td colspan="2">@Model.CustomerNote</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="col-lg-12 py-2" style="overflow-x:auto;">
                                    <!--Table small-->
                                    <div id="panel-7" class="panel">
                                        <div class="frame-wrap">
                                            <table class="table table-sm m-0" border="1">
                                                <thead class="bg-primary-500">
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Order Id</th>
                                                        <th>Requested Quantity</th>
                                                        <th>Deliverd Quantity</th>
                                                        <th>Order Progress</th>
                                                        <th>UserName</th>
                                                        <th>Created Date</th>
                                                        <th>Trafic Plate Number</th>
                                                        <th>VehicleNumber</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.customerGroupOrderDetailsViewModels)
                                                    {

                                                        <tr>
                                                            <td>@Model.Name</td>
                                                            <td>@Model.CustomerOrderId</td>
                                                            <td>@Model.RequestedQuantity</td>
                                                            <td>@Model.DeliverdQuantity</td>
                                                            <td>@Model.OrderProgress</td>
                                                            <td>@Model.UserName</td>
                                                            <td>@Model.CreatedDate</td>
                                                            <td>@Model.TraficPlateNumber</td>
                                                            <td>@Model.VehicleNumber</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         </form>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <style>


        .pic {
            display: none;
        }

        .newbtn {
            cursor: pointer;
        }

        .blah {
            max-width: 100%;
            width: 100%;
            height: 100%;
            max-height: 160px;
            margin-top: 20px;
        }
    </style>




