@model List<IT.Core.ViewModels.FuelTransferViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layoutAdmin.cshtml";

    List<IT.Core.ViewModels.FuelTransferViewModel> fuelTransferViewModels = new List<IT.Core.ViewModels.FuelTransferViewModel>();
    fuelTransferViewModels = Model as List<IT.Core.ViewModels.FuelTransferViewModel>;
}

   <ol class="breadcrumb page-breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Aw Fuel</a></li>  
                            <li class="breadcrumb-item active">Drivers</li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
   </ol>                 
  <div class="row">
                            <div class="col-xl-12">
                                <div id="panel-1" class="panel">
                                    <div class="panel-hdr">
                                        <h2>
                                           <a href=""> <i class="fal fa-plus-circle"></i>  Fuel <span class="fw-300"><i>Fuel Transfer</i></span>
                                           </a>
                                        </h2>
                                    </div>
                                    <div class="panel-container show">
                                        <div class="panel-content">
                                    <!--      <div class="panel-tag">
                                                <p>Drivers Base Information</p> 
                                            </div>-->  
                                            <!-- datatable start -->
                                            <table id="dt-basic-example" class="table table-bordered table-hover table-striped w-100">
                                                <thead class="bg-primary-600">
                                                    <tr>
                                                        <th>Transfer Date</th>
                                                       <th>Site Name</th>
                                                        <th>Quantity</th>
                                                         <th>Plate Number</th>
                                                        <th>User Name</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>                                                    
                                                    @foreach (var item in fuelTransferViewModels)
                                                    {
                                                        <tr>
                                                           <td>@item.FuelTransferDate</td>
                                                            <td>@item.SiteName</td>
                                                            <td>@item.Quantity</td>
                                                            <td>@item.TraficPlateNumber</td>
                                                            <td>@item.UserName</td>
                                                          <td>
                                                               <a href="/AwfDriver/Details/@item.Id"><i class="fal fa-eye"></i> </a> &nbsp; &nbsp;
                                                                <a href="/AwfDriver/Edit/@item.Id"><i class="fal fa-edit"></i></a>&nbsp; &nbsp;
                                                                <i class="fal fa-trash-alt"> 
                                                            </td>
                                                        </tr>
                                                    }                                                       
                                                </tbody>
                                            </table>
                                            <!-- datatable end -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
